.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.media {
  padding-top: 100%;
}

input::placeholder {
  font-size: 14px;
  color: #343A40;
  opacity: 1;
  padding-left: 1.5rem;
}

textarea:focus, input:focus{
  outline: none;
}

.label {
  display: flex;
  border-radius:2px;
  border: 1px #E9ECEF;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
}

.dark {
  background: #343A40;
  color: #FFFFFF;
}